{
    "all": true,
    "branches": 50,
    "extension": [".js", ".ts", ".tsx"],
    "functions": 50,
    "include": ["dist/**/*.js", "src/**/*.ts"],
    "lines": 100,
    "reporter": ["html", "text-summary"],
    "require": ["ts-node/register"],
    "statements": 50
}
